extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-primary(style='margin-top: 10px;')
      .container-fluid
        a.navbar-brand(href='#')
          span(style='margin-left: 10px;') AWS Hotel
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
            li.nav-item
              a.nav-link(href='/rooms') Rooms
            li.nav-item
              a.nav-link(href='/add') Add
            li.nav-item
              a.nav-link(href='/create') Create
  img(src='/public/hotel_landing_pic.jpg' alt='no image available' style='display: block; margin-left: auto; margin-right: auto; width: 100%;')

  p. 
    Photo by: #[a( href="https://www.pexels.com/@jeffrey-czum-254391/" ) Jeffrey Czum]